body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{margin:0; padding:0; }
li{
	list-style: none;
}
a{
	text-decoration:None;
}
/*头部*/
.bigbox{width:100%;background:#f3f3f3;height:9123px;}
.box{
	
	width:1187px;
	margin:0 auto;
	background:#f3f3f3;
}
.top{
	width:1187px;
	margin: 0 auto;
	height:35px;
	border-bottom:1px solid #eee;
	background:#f3f3f3;
}
.top .ul1{
	margin:0 0 0 0px;
	height:35px;
	float:left;
}
.top a{
	color:#999;
}
.top .ul1 li{
	float:left;
	margin-right:9px;
	font-size: 12px;
	color:#999;
	line-height:35px;
}
.top .ul1 li:nth-child(1) span{
	margin-right:2px;
	color:#cb351a;
}
.top .ul1 li:nth-child(1){
	line-height: 30px;
}
.top .ul1 li:hover a{color:#cb351a;}
.top .ul1 li:nth-child(1):hover a{
	color:#cb351a;
}
.top .ul1 li:nth-child(2):hover a{
	color:#cb351a;
}
.top .ul1 li:nth-child(3):hover a{
	color:#cb351a;
}
.top .ul1 li:nth-child(5){
	//margin-left:6px;
}
.top .ul1 li:nth-child(6) a{
	display: inline-block;
	margin:5px 5px 0 0;
}
.top .ul1 li img{
	margin:  0 0 0 5px;
}
.top>.fr{
	float:right;
	font-size: 11px;
	color:#e0dde0;
	position:relative;
}
.top>.fr>a{
	font-size:#999 ;
	margin:0 5px;
	display: inline-block;
	line-height:35px ;
}
.top>.fr>a:nth-child(4){
	width:82px;
	//margin-right: 0;
}
.top>.fr a:hover{
	color:#cb351a;
}
.shou{
	float:right;
	line-height: 35px;
	width:87px;
	margin: 0 5px 0 3px;
	box-sizing: border-box;
}
.shouon{
	background: #fff;
	border-left:1px solid #999;
	float:right;
	line-height: 35px;
	width:87px;
	margin: 0 5px 0 3px;
	box-sizing: border-box;
}
.top>.fr>.ul2{
	top:-1px;
	position:absolute;
	display:none;
	border:1px solid #ccc;
	background:#fff;
	width:82px;
	padding-left:4px;
	box-sizing: border-box;
	line-height: 25px;
	z-index: 5;
}
.top>.fr>.ul2 li:nth-child(1){
	line-height: 35px;
}
#shouji{
	display: inline-block;
	position:absolute;
	right:0;
	top:36px;
	overflow: hidden;
	display: none;
}
/*header*/
.header_1{background:#fff;}
header{
	width:1187px;
	height:159px;
	background:#fff;
	margin:0 auto;
}
header>.logo{
	float:left;
}
#sinput{
	width:402px;
	height:35px;
	font-size: 14px;
	border:2px solid #CB351A;
	float: left;
	padding-left: 5px;
	color:#666;
}
#sul1{
	border:1px solid #999;
	border-top:none;
	width:408px;
	display: none;
	position: absolute;
	top:39px;
	background: #fff;
	z-index: 10;
}
input{outline: none;}
#sul1>li{
	list-style: none;
	height:26px;
	line-height: 26px;
	font-size: 12px;
	color:#666;
}
#shousuo{
	float:left;
	margin:38px 0 0 59px;
	position:relative;
}
#shousuo p{
	color:#999;
	font-size: 12px;
	line-height: 20px;
}
#shousuo p a{
	color:#999;
}
.sub{
	float:left;
	border:none;
	height:39px;
	width:89px;
	background:#CB351A;
	cursor:pointer;
	font-size: 16px;
	color:#fff;
}
.zishentang{
	float:right;
	margin-top: 15px;
}
#sinput::placeholder{
	font-style: normal; 
	color:#999;	
}
/*轮播图商品展示*/
.lunbotu_1{background: rgb(254, 226, 212);}
.lunbotu{
	height:480px;
	position:relative;
	width:1187px;
	margin: 0 auto;
}
/*左边列表*/
.lunbotu>.luntop{
	    width: 180px;
	    text-align: center;
	    background: #CB351A;
	    font-size: 15px;
	    line-height: 36px;
	    height: 36px;
	    font-family: "microsoft yahei";
	    float: left;
	    color: #fff;
	    margin-top:-36px;
}
.lunbotu>.lunul1{
	float:left;
	position: relative;
}
.lunbotu>.lunul1>li{
	width:180px;
	height:53.3px;
	background:#cb3d25;
	border-bottom: 1px solid #b82f17;
    border-top: 1px solid #da5a44;
    box-sizing: border-box;
  	 position: relative;
  	 z-index: 10;
   padding-left:0px;
   transition: all 0.5s;
}
.lunbotu>.lunul1>li:hover{
	padding-left:8px;
	background:#b82f17;
	transition: all 0.5s;
}
.lunbotu>.lunul1>li:hover>p:nth-child(4)>a{
	color:#fff;
}
.lunbotu>.lunul1>li>p{
	float:left;
}
.lunbotu>.lunul1>li>img{
	float:left;
}
.lunbotu>.lunul1>li img{
	margin:10px 0 0 14px;
}
.lunbotu>.lunul1>li>p:nth-child(2){
	margin:8px 0 0 15px;
	font-size: 14px;
	color:#fff;
}
.lunbotu>.lunul1>li>p:nth-child(4){
	margin:3px 0 0 15px;
	font-size: 12px;
}
.lunbotu>.lunul1>li>p:nth-child(4)>a{
	color:#eca598;
	margin-right:5px;
}
/*lunbo-yin*/
.lunbotu .lunbo_yin{
	width:399px;
	height:480px;
	background:rgba(255,255,255,.9);
	position:absolute;
	left:180px;
	top:0;	
	padding:0 8px 0 14px;
	box-sizing: border-box;
	display: none;
	z-index: 10px;
}
.lunbotu .lunbo_yin h6{margin-top:15px;}
.lunbotu .lunbo_yin p{
	border-bottom:1px dashed #666;
	padding-bottom:10px ;
	float:none;
	width:370px;
}
.lunbotu .lunbo_yin a{
	font-size: 12px;
	color:#999;
	margin-right:21px;
}
.lunbotu .lunbo_yin p a:nth-child(2){
	color:red;
}
.lunbotu .lunbo_yin p a:nth-child(1){
	color:red;
}
/*导航条*/
.lunbotu>.lunbonav{float:left;width:800px;margin-top:-36px;position: relative;height: 36px;}
.lunbotu>.lunbonav>li{
	float:left;
	height: 36px;
	line-height: 36px;
	text-align: center;
	width:85px;
}
.lunbotu>.lunbonav>li:hover a{color:#cb3d25;}
.lunbotu>.lunbonav>li>a{color:#666;}
.lunbotu>.lunbonav>li:nth-child(1){width:50px;color:#cb3d25;}
.lunbotu>.lunbonav>li:nth-child(3){position: relative;}
.lunbotu>.lunbonav>li:nth-child(4){width:70px;position:relative;overflow: hidden;}
.lunbotu>.lunbonav>li:nth-child(8){width:70px;}
.lunbotu>.lunbonav>li:nth-child(5){position: relative;}
.lunbotu>.lunbonav>li img{position:absolute;top:0;left:73px;}
#gengsui{
	position:absolute;
	width:50px;
	height: 0;
	border-top:2px solid #cb3d25;
	top:34px;
	left:0;	
}
#dong1,#dong2,#dong3,#dong1_1,#dong2_2,#dong3_3{position:absolute;}
#dong1{left:10px;}
#dong2{left:27px;}
#dong3{left:45px;}
#dong1_1{left:10px;top:30px;}
#dong2_2{left:27px;top:30px;}
#dong3_3{left:45px;top:30px;}
/*图片轮播部分*/
#lunbobox{
	width: 810px;
	height: 480px;
	position:absolute;
	overflow: hidden;	
	left:180px;
}
#lunbobox>ul{
	position: absolute;
	left: 0;
	top: 0;
	width: 810px;
	height: 320px;
}
#lunbobox>ul>li{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 810px;
	height: 320px;	
}
#lunbobox>ul>li img{
	transform: scale(1.1,1.1);
	transition: all 4s;
}
#lunbobox>ol{
	position: absolute;
	left: 10px;
	bottom: 12px;
	z-index: 6;
}
#lunbobox>ol>li{
	float: left;
	margin-left:1px;
	cursor: pointer;
	margin-top:0;
	transition: margin-top 0.6s
}
#lunbobox>ol .selected{
	margin-top:-15px;
	transition: margin-top 0.6s;
}
/*右侧图片展示*/
.lunbotu>.lunbocart{
	float:right;
	margin-right: -1px;
	width:198px;
	height:34px;
	border:1px solid #e4e4e4;
	background:#f9f9f9;
	text-align: center;
	line-height: 34px;
	color:#7a7a7a;
	font-size: 12px;
	margin-top:-34px;
	box-sizing: border-box;
	padding-right:30px;
}
.lunbotu>.lunbocart>img{
	margin:9px 0 0 47px;
	float: left;	
}
.lunbotu>.lunboright{
	float:right;
	
}
.lunbotu>.lunboright>li{
	overflow: hidden;
	width:195px;
	height:158px;
	margin-top:2px;
//	background: rgba(255,255,255,.8);
	opacity: 0.8;
}
/*整点抢块 */
#zhengdianqiang{
	height:463px;
	//background:red;
	margin-top:20px;
}
#zhengdianqiang>#jishi{
	height:38px;
	background:#f3f3f3;
	overflow: hidden;
}
#zhengdianqiang>#jishi img{
	float:left;
}

#zhengdianqiang>#jishi h4{
	float:left;
}
#zhengdianqiang>#jishi span{
	float:left;
}
#zhengdianqiang>#jishi>h4{
	line-height: 43px;
	margin:0 8px 0 8px ;
}
#zhengdianqiang>#jishi>p{
	float: left;
	line-height: 45px;
	font-size: 14px;
	color:#999;
}
#zhengdianqiang>#jishi>span{
	margin:0 0 0 39px;
	line-height: 45px;
	font-size: 14px;
	color:#999;
}
#zhengdianqiang>#jishi>div{
	float:left;
}
#zhengdianqiang>#jishi>div>span{
  width:19px;
  height:28px;
  background:#fff;
  box-shadow:2px 2px 2px #333333;
  margin-left:4px;
  margin-top: 6px;
  text-align: center;
  line-height: 28px;
  font-weight:bold ;
  font-size: 20px;
}
#zhengdianqiang>#jishi b{
	float:left;
	font-size:20px;
	margin:9px 0 0 4px;
}
/*选项卡*/
#zhengdianqiang #xuanxiangka{height:50px;}
#zhengdianqiang #xuanxiangka li{
	float:left;
	width:237.2px;
	text-align: center;
	line-height: 42px;
	height:42px;
	background:#444851;
	cursor:pointer;
}
#zhengdianqiang #xuanxiangka li:hover{
	opacity: 0.7;
}
#zhengdianqiang #xuanxiangka li:nth-child(1){
	background:#cb351a;
}
#zhengdianqiang #xuanxiangka li p:nth-child(1){
	
	height:23px;
	line-height: 23px;
	font-size: 16px;
	color:#fff;
}
#zhengdianqiang #xuanxiangka li p:nth-child(2){
	height:18px;
	line-height: 18px;
	font-size: 14px;
	color:#fff;
}
#zhengdianqiang #xuanxiangbox{
	height:345px;
	//background: blue;
	margin-top:33px;
	overflow:hidden;
	position: relative;
}
#zhengdianqiang #xuanxiangbox ul{
	width:2381px;
	height:290px;
	position: absolute;
}
#zhengdianqiang #xuanxiangbox ul li{
	float:left;
	width:291px;
	height:345px;
	background:#fff;
	margin-right: 7.5px;
}
#zhengdianqiang #xuanxiangbox ul li:nth-child(8){
	
	float:right;
	margin-right: 0;	
}
#zhengdianqiang #xuanxiangbox ul li a{
	margin-left:24px;
}
#zhengdianqiang #xuanxiangbox ul li p:nth-child(2){
	font-size: 12px;
	color:#666;
	margin:0 46px 0 19px;
}
#zhengdianqiang #xuanxiangbox ul li p:nth-child(3){
	font-size: 12px;
	color:#666;
	line-height: 50px;
	margin:10px 10px 0 19px;
}
#zhengdianqiang #xuanxiangbox ul li p:nth-child(3) span:nth-child(5){
	display: inline-block;
	width:90px;
	height:30px;
	background: #f95d5e;
	text-align: center;
	line-height: 30px;
	color:#fff;
	cursor: pointer;
	font-size: 16px;
	float:right;
	margin-top: 5px;
}
#xuancontent1,#xuancontent2,#xuancontent3,#xuancontent4{display: none;}
#btnleft,#btnright{
	width:26px;
	height:82px;
	display: inline-block;
	position:absolute;
	background: rgba(0,0,0,0.1);
	text-align:center;
	line-height: 82px;
	color:#fff;
	top:131px;
	font-size: 40px;
	cursor:pointer;
}
#btnright{
	right:0;
}
#btnleft{left:0;}
/*ad*/
#ad{margin-top:26px;}
#ad a:nth-child(2){
	float:right;
}
/*特卖*/

#temai{
	height:38px;
	background:#f3f3f3;
	overflow: hidden;
	margin-top:40px;
}
#temai img{
	float:left;
}
#temai>h4{
	float:left;
	line-height: 43px;
	margin:0 13px 0 8px ;
	font-size: 16px;
	color:#cb351a;
}
#temai>p{
	float: left;
	line-height: 45px;
	font-size: 14px;
	color:#999;
	position: relative;
}
#temai i{
	position: absolute;
	display: inline-block;
	font-style: normal;
}
#temaicontent{
	height:596px;
	//background:red;
	margin-top:2px;
}
#temaicontent ul li{
	width:290px;
	height:290px;
	background:#fff;
	float:left;
	margin: 0 9px 10px 0;
}
#temaicontent ul li:nth-child(4){
	margin-right:0px;
}
#temaicontent ul li:nth-child(8){
	margin-right:0px;
}
#temaicontent ul li>div>span{
	display: inline-block;
	font-size: 14px;
	color:#444444;
	margin:10px 0 0 11px;
}
#temaicontent ul li>div>h3{
	float:right;
	color:#e02200;
	margin-top:13px;
	padding-right:5px ;
}
#temaicontent ul li>div:nth-child(1){
	width:290px;
	height:230px;
	overflow: hidden;
}
#temaicontent ul li>div:nth-child(1) img{
	transform: scale(1,1);
	transition:all 1s;
}
#temaicontent ul li>div:nth-child(1):hover img{
	transform: scale(1.1,1.1);
	transition:all 1s;
}
#temaicontent ul li>div>h3 span{
	font-weight: 100;
	font-size: 12px;
	color:#e02200;
	
}
#temaicontent ul li>div>p{margin-left:11px;}
#temaicontent ul li>div>p img{vertical-align: top;margin: 2px 4px 0 0;}
#temaicontent ul li>div>p span{
	font-size: 12px;
	color:#999;
	margin-right:5px;
}
/*猜你喜欢*/

#xihuan{
	height:38px;
	background:#f3f3f3;
	overflow: hidden;
	margin-top:40px;
}
#xihuan img{
	float:left;
}
#xihuan>h4{
	float:left;
	line-height: 43px;
	margin:0 13px 0 8px ;
	font-size: 16px;
	color:#000;
}
#xihuan>p{
	float: left;
	line-height: 45px;
	font-size: 14px;
	color:#999;
	position: relative;
}
#xihuan>p:nth-child(4){
	margin:0 0 0 142px;
}
#xihuan>p:nth-child(4) 	a{
	display: inline-block;
	//margin-top:15px;
	vertical-align: middle;
	margin-right:4px;
}
#xihuanbox{
	height:450px;
	//background:red;
	text-align: center;
	overflow: hidden;
	position: relative;
	
}
#xihuancontent{
	width:2374px;
	height:450px;
	position: absolute;
}
#xihuanbox ul{
	width:1187px;
	height:450px;
	float:left;
}

#xihuanbox ul li{
	width:230px;
	height:220px;
	background: #fff;
	margin:0 9.2px 10px 0;
	float:left;
}

#xihuanbox ul li img{
	width:150px;
	height:150px;
}
#xihuanbox ul li p{
	font-size: 12px;
	color:#666;
	line-height: 27px;
	
}
#xihuanbox  ul li:hover p:nth-child(1){color:#CB351A;}
#xihuanbox ul li:nth-child(5){
	margin-right:0;
}
#xihuanbox ul li:nth-child(10){
	margin-right:0;
}
#xihuanl,#xihuanr{
	width:26px;
	height:82px;
	display: inline-block;
	position:absolute;
	background: rgba(0,0,0,0.1);
	text-align:center;
	line-height: 82px;
	color:#fff;
	top:180px;
	font-size: 40px;
	cursor:pointer;
	z-index: 2;
}
#xihuanr{
	right:0;
}
#xihuanl{left:0;}
/*楼层1*/
.loucheng1{
	height:490px;
	//background:red;
	margin-top: 35px;
}
.loucheng1 .louleftbox{
	width:180px;
	height:490px;
	background:#fff;
	float:left;
}
.loucheng1 .louleftbox h3{
	width:180px;
	height:46px;
	color:#fff;
	background: #03a4fe;
	line-height: 46px;
	text-align: center;
	position: relative;
	box-shadow: 0 4px  #c9ebff;
}
.loucheng1 .louleftbox h3 span{
	font-weight: normal;
	font-size: 14px;
	
}
.loucheng1 .louleftbox h3 b{
	display:inline-block;
	width:30px;
	height:40px;
	background: #5cc3ff;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	left: 22px;
	top:-4px;
	position: absolute;
}
.loucheng1 .louleftbox .louxuan{
	width:178px;
	height:236px;
    overflow: hidden;
    padding: 13px 0 0 25px;
    font-size: 12px;
    box-sizing: border-box;
}
.loucheng1 .louleftbox .louxuan a{
	display: inline-block;
	width:62px;
	height: 30px;
	color:#666;
	line-height: 30px;
	padding-left:6px ;
	float: left;
}
.loucheng1 .louleftbox .loulun{
	width:180px;
	height: 208px;
	background:#fff;
	position: relative;
}
.loucheng1 .louleftbox .loulun ul{
	width:360px;
	height:200px;
	position: absolute;
}
.loucheng1 .louleftbox .loulun ul li{
	float:left;
	width:90px;
	
}
.loucheng1 .louleftbox .loulun ul li a{
	float: left;
	margin:10px 0 0 0;
}
.loucheng1 .louleftbox .loulun .loudong{
	margin: 0 auto;
	width:90px;
	height:207px;
	background: #fff;
	position: relative;
	overflow: hidden;
}
.loubtnl,.loubtnr{
	width:26px;
	height:82px;
	display: inline-block;
	position:absolute;
	text-align:center;
	line-height: 82px;
	color:#ccc;
	top:58px;
	font-size: 40px;
	cursor:pointer;
	font-weight: normal;
}
.loubtnr{
	right:0;
}
.loubtnl{left:0;}
.loucheng1>a{
	float:left;
	margin:0 0 9px 11px;
}
/*楼层2*/
.loucheng2 .louleftbox h3{
	background:#fb5d5c;
	box-shadow: 0 4px  #ffd0d0;
}
.loucheng2 .louleftbox h3 b{
	background:#ff9f9f;
}
/*3楼*/
.loucheng3 .louleftbox h3{
	background:#32b16a;
	box-shadow: 0 4px  #badecb;
}
.loucheng3 .louleftbox h3 b{
	background:#6acf98;
}
/*4楼*/
.loucheng4 .louleftbox h3{
	background:#50d4d9;
	box-shadow: 0 4px  #cef0f0;
}
.loucheng4 .louleftbox h3 b{
	background:#8be9e9;
}
/*5*/
.loucheng5 .louleftbox h3{
	background:#f362b3;
	box-shadow: 0 4px  #fcd6eb;
}
.loucheng5 .louleftbox h3 b{
	background:#fc9dd1;
}
/*6*/
.loucheng6 .louleftbox h3{
	background:#7863de;
	box-shadow: 0 4px  #d9d4f3;
}
.loucheng6 .louleftbox h3 b{
	background:#aa9bfc;
}
/*7*/
.loucheng7 .louleftbox h3{
	background:#fc9b61;
	box-shadow: 0 4px  #ffe2d1;
}
.loucheng7 .louleftbox h3 b{
	background:#ffc7a7;
}
/*8*/
.loucheng8 .louleftbox h3{
	background:#a4cc4e;
	box-shadow: 0 4px  #e1eccc;
}
.loucheng8 .louleftbox h3 b{
	background:#c0da8c;
}
/*9*/
.loucheng9 .louleftbox h3{
	background:#c173d8;
	box-shadow: 0 4px  #f1ccff;
}
.loucheng9 .louleftbox h3 b{
	background:#e4a2fc;
}
/*达人推荐区*/
.daren{
	height:689px;
	margin-top:25px;
}
.daren>.daleft>p:nth-child(1){
	font-size: 16px;
	height: 20px;
	line-height: 20px;
	margin-top:8px ;
}
.daren>.daleft>p>span{
	font-size: 12px;
	color:#999;
	margin-left:9px;
}
.daren .daleft{
	width:950px;
	height:689px;
	overflow: hidden;
	float: left;
}
.daren .daleft ul{width:960px;height:648px;}
.daren .daleft ul li{
	width:470px;
	height:314px;
	float: left;
	margin:10px 10px 0 0;
	background: #fafafa;
	box-shadow: 0 1px 1px #999;
}
.daren .daleft ul li h5{
	margin-top: 10px;
	font-size: 15px;
	padding-left: 10px;
}
.daren .daleft ul li a:nth-child(3){
	display: inline-block;
	font-size: 12px;
	padding-left: 15px;
	line-height: 18px;
	margin-top: 5px;
	color:#666;
}
.daren .daleft ul li a:nth-child(3):hover{
	color:#CB3415;
}
/*右区*/
.dayou{
	width:230px;
	height:689px;
	
	float: right;
}
.dayou h4{font-size: 18px;margin-top: 8px;}
.dayou h4 span{
	font-size: 13px;
	color:#999;
	margin-left:9px;
	font-weight: normal;
}
#doulun{
	width:230px;
	height:648px;
	margin-top:6px;
	overflow: hidden;
	position: relative;
}
#doulun ul{
	width:690px;
	position: absolute;
}
#doulun ul li{
	width:230px;
	height:314px;
	float:left;
	text-align: center;
	position: relative;
	margin-bottom:10px;
	background: #fafafa;
	box-shadow: 0 1px 1px #999;
}
#doulun ul li p:nth-child(2){
	height: 28px;
	line-height: 28px;
	text-align: center;
	font-size: 12px;
	color: #FFF;
	background:#323232;
	position: absolute;
	top:201px;
	width:230px;
}
#doulun ul li p:nth-child(3) img{
	vertical-align: middle;
	margin-right:8px ;
}
#doulun ul li p:nth-child(3){
	height: 41px;
	line-height: 41px;
	margin-top:10px ;
	text-align: left;
	padding-left:16px;
	font-size: 12px;
	color:#333;
}
#doulun ul li p:nth-child(4){
	padding-left:16px;
	font-size: 12px;
	color:#999;
	padding-right:10px;
}
#doulun ul li a:nth-child(1) img{
	width:215px;
	height:218px;
}
/*商品汇总*/
.shangping{
	height:191px;
	background: #fafafa;
	margin-top:15px;
}
.shangping ul li{
	float:left;
	width:197.8px;
	height:190px;
	box-shadow: 0 1px  #ccc;
	text-align: center;
}
.shangping ul li img:nth-child(1){
	margin: 15px 0 0 0;
}
.shangping ul li p{
	font-size: 12px;

	margin-left: 44px;
	margin-right: 31px;
	height:25px;
	line-height: 25px;
}

.shangping ul li p a{
		color:#666;
}
.shangping ul li p a:hover{
		color:red;
}
/*承诺部分*/
.chengnuo_1{border-bottom:1px solid #ccc ;background: #fff;}
.chengnuo{
	height:88px;
	background: #fff;
	//border-bottom:1px solid #ccc ;
	width:1187px;
	margin:0 auto;
}
.chengnuo ul li{
	float: left;
	width:237px;
	height: 88px;
	padding-left:50px ;
	box-sizing: border-box;
}
.chengnuo ul li p{
	float: left;
	margin:21px 0 0 15px ;
	font-size: 15px;
	font-weight: bold;
	line-height: 23px;
}
.chengnuo ul li p span{
	font-size: 12px;
	color: #666;
	display: inline-block;
	font-weight: normal;
}
.chengnuo ul li img{
	float: left;
	vertical-align: middle;
	margin-top: 21px;
}
/*尾部相关*/
.lianjie_1{background: #fff;}
.lianjie{
	height:186px;
	background: #fff;
	width:1187px;
	margin: 0 auto;
}
.lianjie dl{
	float:left;
	margin:31px 49px 0 60px;
}
.lianjie dl dt{
	font-weight: bold;
	font-size: 14px;
	margin-bottom: 3px;
}
.lianjie dl dd a{
	font-size: 12px;
	color:#666666;
}
.lianjie dl dd a:hover{
	color:#CB351A;
}
/*尾部导航*/
.footnav{
	height: 35px;
	background: #444851;
}
.footnav ul{margin-left: 174px;}
.footnav ul li{
	float:left;
	width:114px;
	font-size: 12px;
	line-height:35px ;
}
.footnav ul li a{
	color:#adadad;
}
.footnav ul li:hover a{
	color:#FFFDEF;
	transition: all 0.5s;
}
.footer{
	padding-top: 10px;
	background: #fff;
	overflow: hidden;
}
.footer p{
	text-align: center;
	font-size: 12px;
	line-height: 25px;
}
.footer p:nth-child(4) img{
	margin-right: 10px;
	margin-top: 20px;
	border:1px solid #ccc;
}
/*当页面滑到一定处出现*/
.xuanfu_1{
	background:#444851;
	position: fixed;
	top: 0;
	display: none;
	z-index: 20;
	height: 40px;
	width: 100%;
}
#xuanfu{
	height:40px;
	width:1187px;
	background:#444851;
	position: fixed;
	top: 0;
	left:40px;
	z-index: 20;
	display: none;
}
#xuanfu a{
	float:left;
	margin: 5px 0 0 136px;
	
}


#xinput{
	width:402px;
	height:26px;
	border:none;
	float: left;
	padding-left: 5px;
	font-size: 12px;
	color: #666;
}
#xul1{
	border:1px solid #ccc;
	border-top:none;
	width:405px;
	display: none;
	position: absolute;
	top:26px;
	background: #fff;
	z-index: 20;
}
#xuanshou{
	float:left;
	position:relative;
	margin: 7px 0 0 124px;
}
#xul1>li{
	list-style: none;
	height:26px;
	line-height: 26px;
	font-size: 12px;
	width: 405px;
	line-height: 26px;
	color: #666;
	
}
#xub1{
	float:right;
	position:absolute;
	left:407px;
	border:none;
	height:26px;
	width:89px;
	background:#CB351A;
	cursor:pointer;
	font-size: 14px;
	color:#fff;
}
#xinput::placeholder{
	font-size: 12px;
	color:#999;	
}
#xuanfu a:nth-child(3){
	margin:10px 0 0 120px ;
	float: left;
	
	color:#ccc;
	font-size: 12px;
}
#xuanfu a:nth-child(3):hover{
	color:#fff;
}
#xuanfu a:nth-child(3) img{
	vertical-align: middle;
	margin-right: 7px;
}
/*楼梯*/
.louti{
	width:35px;
	height:333px;
	//background: yellowgreen;
	position:fixed;
	top:200px;
	left:0;
	display: none;
}
.louti .loutis{
	display:inline-block;
	width:35px;
	height:37px;
	border-bottom: 1px solid #ccc;
	text-align: center;
	overflow: hidden;
	color:#999;
	background: #f3f3f3;
	cursor: pointer;
}
.louti .loutis img{
	margin: 8px 0 0 0px;
	
	
}
.louti .loutis span{
	margin-top: 2px;
	display: inline-block;
	font-size: 12px;
	height: 12px;
	display: none;
}



/*右侧边栏购物车*/

.cartbox{
	width:315px;
	height:100%;
	position:fixed;
	background: yellowgreen;
	top:0px;
	right:-280px;
	z-index: 25;
}

.cartright{
	width:35px;
	height:100%;
	position: position;
	left:0;
	background: #444851;
	top:0;
	z-index: 21;
}
.cart{
	display: inline-block;
	position: absolute;
	top:73px;
	
	width:35px;
	height: 178px;
	text-align: center;
}
.cart span{
	display: inline-block;
	width:35px;
	color:#fff;
	font-size: 12px;
	line-height: 20px;
}
.cart span:nth-child(1){
	font-size: 25px;
	height: 35px;
	line-height: 35px;
	padding-bottom: 2px;
}
.cart span:nth-child(1):hover{
	background: #CB351A;
}
.cart .cspan {
	margin: 10px 0 0 0;
	height: 131px;
}
.cart .cspan span:nth-child(1){
	font-size: 18px;
	line-height: 30px;
}
.cart .cspan span:nth-child(5){
	width:21px;
	height: 21px;
	border-radius: 50%;
	background: #CB351A;
	margin-top: 10px;
}
.cart .cspan:hover{
	background: #CB351A;
}
